#m_prose {

  @lower_lh: 23;
  @upper_lh: 31;

  #default {
    .spacing() {
      margin: unit(@lower_lh/@base,rem) 0;
      #breakpoint > .med({
        margin: unit(@upper_lh/@base,rem) 0;
      });
    }
    .size() {
      font-size: unit(16/@base,em);
      #breakpoint > .med({
        font-size: unit(19/@base,em);
      });
    }
    .line-height() {
      line-height: @lower_lh/16;
      #breakpoint > .med({
        line-height: @upper_lh/19;
      });
    }
  }

  #heading {
    .base() {
      font-family: 'Abril',serif;
      font-weight: bold;
      font-style: normal;
    }

    .h1() {
      font-size: unit(40/@base,em);
      line-height: @lower_lh*2/40;
      #breakpoint > .med({
        font-size: unit(61/@base,em);
        line-height: @upper_lh*2/61;
      });
    }

    .h2() {
      font-size: unit(26/@base,em);
      line-height: @lower_lh*2/26;
      #breakpoint > .med({
        font-size: unit(41/@base,em);
        line-height: @upper_lh*2/41;
      });
    }

    .h3() {
      font-size: unit(23/@base,em);
      line-height: @lower_lh/23;
      #breakpoint > .med({
        font-size: unit(29/@base,em);
        line-height: @upper_lh/29;
      });
    }

  }
}

.m_prose {

  //default styling

  h1,h2,h3,h4,h5,h6,
  p,ul,ol,figure {
    #m_prose > #default > .spacing();
  }

  p,ul,ol {
    #m_prose > #default > .size;
    #m_prose > #default > .line-height();
  }

  //headings
  h1,h2,h3,h4,h5,h6 {
    #m_prose > #heading > .base();
  }
  h1 {
    #m_prose > #heading > .h1();
  }
  h2 {
    #m_prose > #heading > .h2();
  }
  h3 {
    #m_prose > #heading > .h3();
  }
}
