//beta styling

.c_siteWrapper {
  padding: 30px;
  @media (min-width: 800px) {
    margin: 30px auto;
    max-width: 780px;
  }
}

.m_betaMessage {
  background: fade(yellow,50%);
  padding: 20px;
  border: 1px dotted darken(yellow,30%);
  color: darken(yellow,30%);
}

a {
  color: blue;
}

img {
  max-width: 100%;
}
