{% macro m_figure(images,page) %}
<figure class="m_figure">
  {% for i in images %}
    <img src="/images/articles/{{page.id}}/{{i.image}}" class="m_figure__image" alt="{{i.caption}}"/>
    {% if i.caption and loop.last %}
      <figcaption class="m_figure__caption">{{i.caption}}</figcaption>
    {% endif %}
  {% endfor %}
</figure>
{% endmacro %}

{% macro m_navigation(site) %}
<nav class="m_navigation">
  <ul>
    {% for page in site.menu %}
      <li><a href="{{page.url}}">{{page.title}}</a></li>
    {% endfor %}
  </ul>
</nav>
{% endmacro %}
