//settings
@base: 16;

//shared styles
@import '_shared/fonts';
@import '_shared/utils';

//beta styling
.c_siteWrapper {
  padding: 0 30px;
  #breakpoint > .med({padding:0;});
  @media (min-width: 640px) {
    margin: 0 auto;
    max-width: 600px;
  }
}

.m_betaMessage {
  background: fade(yellow,50%);
  padding: 10px;
  margin-bottom: 30px;
  border: 1px dotted darken(yellow,30%);
  color: darken(yellow,30%);
  border-top: none;
  >p {
    margin: 0;
  }
}

a {
  color: blue;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Halis',sans-serif;
  margin: 0;
}

//modules
@import 'modules/m_pagination/m_pagination';
@import 'modules/m_navigation/m_navigation';
@import 'modules/m_figure/m_figure';
@import 'modules/m_prose/m_prose';
@import 'modules/m_pageTitle/m_pageTitle';
