@import '_base';

@c_bg: white;
@c_text: mix(#292929, @c_1, 85%);

@c_header: darken(@c_1,10%);

@c_1: #7A75FF; //purple (site header)
@c_2: #FF6175; //red
@c_3: #00B7D9; //blue
@c_4: #FFA000; //yellow
@c_5: #2EB19F; //sea green

@c_grey: lighten(mix(#292929, @c_1, 95%),60%);
@c_lightgrey: lighten(mix(#292929, @c_1, 95%),70%);

@c_home_1: @c_1;
@c_home_2: @c_2;

//-- dark scheme --//

@c_bg: #05131F;
@c_text: mix(white,@c_bg,80%);

@c_header: mix(@c_bg, @c_1, 90%);

@c_1: #26A2FF; //electric blue
@c_2: #8D007C; //ruby red
@c_3: #C808E4; //jealous green
@c_4: #FC1054; //supernova yellow
@c_5: #0064AF; //dance floor purple

@c_grey: mix(white,@c_bg,60%);
@c_lightgrey: mix(white,@c_bg,20%);

@c_home_1: @c_bg;
@c_home_2: mix(@c_bg, @c_1, 90%);
