.m_teaser {

  @spacing: unit(31/@base,rem);

  display: flex;
  flex-flow: column;
  align-items: flex-start;
  position: relative;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  margin-bottom: @spacing;
  overflow: hidden; //yuk, find some other way to fix this!

  color: white;
  text-decoration: none;

  #breakpoint > .med ({
    flex-flow: row;
  });

  //colour cover
  &:after {
    content: "";
    background-color: @c_2;
    opacity: 0.6;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
  }

  //colours
  &--style-a,
  &--style-a:after,
  &--style-a &__meta,
  &--style-a &__month {
    background-color: @c_2;
  }
  &--style-b,
  &--style-b:after,
  &--style-b &__meta,
  &--style-b &__month {
    background-color: @c_3;
  }
  &--style-c,
  &--style-c:after,
  &--style-c &__meta,
  &--style-c &__month {
    background-color: @c_4;
  }
  &--style-d,
  &--style-d:after,
  &--style-d &__meta,
  &--style-d &__month {
    background-color: @c_5;
  }

  &--style-a &__day {color: @c_2;}
  &--style-b &__day {color: @c_3;}
  &--style-c &__day {color: @c_4;}
  &--style-d &__day {color: @c_5;}

  &__date,
  &__meta {
    z-index: 2;
  }

  &__meta {
    padding: 0 @spacing;
    > p {
      #m_prose > #default > .spacing();
      #m_prose > #default > .size;
      #m_prose > #default > .line-height();
    }
  }

  &__title {
    #m_prose > #default > .spacing();
    #m_prose > #heading > .base();
    #m_prose > #heading > .h3();
    text-shadow: 2px 2px 0 fade(black,20%);
    color: white;
  }

  &__date {
    display: flex;
    flex-flow: column;
    border: 2px solid black;
    background-color: white;
    position: relative;
    min-width: unit(50/@base,rem);
    #breakpoint > .med({
      min-width: unit(80/@base,rem);
    });
    margin: @spacing @spacing 0 @spacing;
  }
  &--has-cover &__date {
    margin-bottom: @spacing;
  }

  &__month {
    border-bottom: 2px solid black;
  }

  &__day,
  &__month,
  &__year {
    font-size: unit(14/@base,rem);
    padding: unit(4/@base,rem) unit(14/@base,rem);
    text-align: center;
  }

  &__year {
    color: #ddd;
  }

  &__day {
    font-family: 'Raleway',sans-serif;
    font-weight: bold;
    font-size: unit(18/@base,rem);
    #breakpoint > .med({
      font-size: unit(22/@base,rem);
    });
    padding-bottom: 0;
    text-shadow: 1px 1px 0 white, 2px 2px 0 #ddd;
  }


}
