{% from "patterns/modules/m_icon/m_icon.html" import m_icon %}
{% macro m_teaser(title,url,date,day,month,year,intro,cover,modifier) %}
<a href="{{url}}" class="m_teaser{% if modifier %} m_teaser--{{modifier}}{% endif %}{% if cover %} m_teaser--has-cover{% endif %}" {% if cover %}style="background-image:url({{cover}});"{% endif %}>

    {% if date %}
    <time datetime="{{date}}" class="m_teaser__date">{% if day %}<span class="m_teaser__month">{{ month }}</span> <span class="m_teaser__day">{{ day }}</span> <span class="m_teaser__year">{{ year }}</span>{% else %}{{date}}{% endif %}</time>
    {% endif %}

    <div class="m_teaser__meta">
      <h2 class="m_teaser__title">{{title | removeWidows | safe}}</h2>
      {% if intro %}
        {{ intro|safe }}
      {% endif %}
      <div class="m_teaser__prompt">
      {{m_icon('arm','m_teaser__arm')}}{{m_icon('hand-point-right','m_teaser__hand')}}
      </div>
    </div>

</a>
{% endmacro %}
