{% macro m_teaser(title,url,date,humanDate,intro,modifier) %}
<article class="m_teaser{% if modifier %} m_teaser--{{modifier}}{% endif %}">
    <h2 class="m_teaser__title"><a href="{{url}}" class="m_teaser__link">{{title}}</a></h2>
    {% if date %}
    <time datetime="{{date}}" class="m_teaser__date">{% if humanDate %}{{humanDate}}{% else %}{{date}}{% endif %}</time>
    {% endif %}
    {% if intro %}
    <div class="m_teaser__intro">
      {{ intro|safe }}
    </div>
    {% endif %}
    {% if url %}
    <a href="{{ url }}">Read this article</a>
    {% endif %}
</article>
{% endmacro %}
