.m_teaser {

  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  position: relative;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &--style-a,
  &--style-d {
    flex-flow: column;
    background-position: 80% center;
  }

  &--style-a&--has-cover,
  &--style-d&--has-cover {
    padding-top: unit(320/@base,rem);
    padding-top: 40vh;
  }

  &--style-c {
    flex-flow: row-reverse;
  }


  //colour cover
  &:after {
    content: "";
    background-color: @c_2;
    opacity: 0.6;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
  }

  &--style-a:after {
    background-color: @c_2;
  }
  &--style-b:after {
    background-color: @c_3;
  }
  &--style-c:after {
    background-color: @c_4;
  }
  &--style-d:after {
    background-color: @c_5;
  }

  &__title,
  &__intro {
    &, a {
      color: white;
      text-decoration: none;
    }
  }

  &__title {
    #m_prose > #default > .spacing();
    #m_prose > #heading > .h2();
  }

  &__intro > p {
    #m_prose > #default > .spacing();
    #m_prose > #default > .size;
    #m_prose > #default > .line-height();
  }

  @content_padding: unit(31/@base,rem);

  &__content {
    padding: @content_padding;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  &--style-a &__content {
    background-color: @c_2;
  }
  &--style-b &__content {
    background-color: @c_3;
  }
  &--style-b&--has-cover &__content {
    width: 50%;
  }
  &--style-c &__content {
    background-color: @c_4;
  }
  &--style-c&--has-cover &__content {
    width: 50%;
  }
  &--style-d &__content {
    background-color: @c_5;
  }

  //link (move this into its own button pattern)
  &__link {
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.20), inset 0 1px 2px 0 rgba(255,255,255,0.50);
    border-radius: 100px;
    color: white;
    text-decoration: none;
    padding: unit(15/@base,rem) unit(31/@base,rem);
  }

}
