{% macro c_page(modules,modifier) %}
  <main class="c_page{% if modifier %} c_page--{{modifier}}{% endif %}">
    {% for module in modules -%}
      {{module}}
    {%- endfor %}
  </main>
{% endmacro %}

{% macro m_figure(images,page) %}
<figure class="m_figure">
  {% for i in images %}
    <img src="/images/articles/{{page.id}}/{{i.image}}" class="m_figure__image" alt="{{i.caption}}"/>
    {% if i.caption and loop.last %}
      <figcaption class="m_figure__caption">{{i.caption}}</figcaption>
    {% endif %}
  {% endfor %}
</figure>
{% endmacro %}

{% macro m_navigation(site) %}
<nav class="m_navigation">
  <ul>
    {% for page in site.menu %}
      <li><a href="{{page.url}}">{{page.title}}</a></li>
    {% endfor %}
  </ul>
</nav>
{% endmacro %}

{% macro m_pageTitle(title,modifier) %}
  <h1 class="m_pageTitle{% if modifier %} m_pageTitle--{{modifier}}{% endif %}">{{title}}</h1>
{% endmacro %}

{% macro m_prose(content,modifier) %}
  <article class="m_prose{% if modifier %} m_prose--{{modifier}}{% endif %}">
    {{content|safe}}
  </article>
{% endmacro %}
