{% extends "layouts/default.html" %}

{% macro call__prevNext() %}
  {% for post in site.posts -%}
    {% if post.id == page.id %}
      {% if post.prev %}
        {% set prev = {title: post.prev.title, url: '/' + post.prev.category + '/' + post.prev.id} %}
      {% endif %}
      {% if post.next %}
        {% set next = {title: post.next.title, url: '/' + post.next.category + '/' + post.next.id} %}
      {% endif %}
      {{ m_prevNext(prev,next) }}
    {% endif %}
  {%- endfor %}
{% endmacro %}

{% block content %}
{{ c_page([
    m_pageTitle(page.title,date=page.date,humanDate=page.humanDate),
    c_grid([
      m_prose(contents),
      m_pointer('Meta'),
      m_cloud(page.tags,'Tagged:'),
      call__prevNext()
    ],'single')
  ])
}}
{% endblock %}
