.m_pagination {
  #m_prose > #default > .spacing;

  &__intro {
    #m_prose > #default > .spacing;
    #m_prose > #heading > .base;
    #m_prose > #heading > .h3;
  }

  &__items {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content:flex-start;
  }

  &__item {
    @itemsPerRow: 4;
    @gapSize: unit(20/@base,rem);
    list-style: none;
    flex-basis: ~"calc( (100% / @{itemsPerRow}) - ((@{gapSize} * (@{itemsPerRow} - 1))/@{itemsPerRow}) )";
    margin: 0 @gapSize @gapSize 0;
    box-sizing: border-box;
    border: 2px solid @c_1;
    flex-grow: 0;
    &:nth-of-type(@{itemsPerRow}n) {
      margin-right: 0;
    }
    #breakpoint > .med({
      @itemsPerRow: 7;
      @gapSize: unit(20/@base,rem);
      flex-basis: ~"calc( (100% / @{itemsPerRow}) - ((@{gapSize} * (@{itemsPerRow} - 1))/@{itemsPerRow}) )";
      margin: 0 @gapSize @gapSize 0;
      &:nth-of-type(n) {
        margin-right: @gapSize;
      }
      &:nth-of-type(@{itemsPerRow}n) {
        margin-right: 0;
      }
    });
  }

  &__link {
    display: block;
    text-align: center;
    padding: unit(10/@base,rem) unit(6/@base,rem);
    text-decoration: none;
    color: @c_1;
  }

  &__link--current {
    background-color: @c_1;
    color: white;
  }

  &__linkLabel,
  &__linkNumber {
    display: block;
  }

  &__linkNumber {
    font-size: unit(23/@base,rem);
    font-family: 'Raleway';
    font-weight: bold;
  }

}
