.m_figure {

  #m_prose > #default > .spacing();
  margin: 0;//reset the browser

  &__caption {
    display: block;
    color: @c_grey;
    font-style: italic;

    #m_prose > #default > .size(@max: 17; @min: 15;);
    #m_prose > #default > .spacing(@top: .25; );
  }

  &__image {
    width: 100%;
    display: block;
  }

  &__image + &__image {
    margin-top: 1px;
  }

}
