.m_figure {

  #m_prose > #default > .spacing();
  margin-left: unit(-1 * @gutter/@base,rem);
  margin-right: unit(-1 * @gutter/@base,rem);
  #breakpoint > .med({
    margin: 0;//reset the browser
  });

  &__caption {
    display: block;
    color: @c_grey;
    font-style: italic;
    #m_prose > #default > .size(@max: 14; @min: 12;);
    #m_prose > #default > .spacing(@top: .25; );

    margin-left: unit(@gutter/@base,rem);
    margin-right: unit(@gutter/@base,rem);
    #breakpoint > .med({
      margin-left: 0;
      margin-right: 0;
    });
  }

  &__image {
    max-width: 100%;
    display: block;
  }

  &__image + &__image {
    margin-top: 1px;
  }


  //pull both
  &--pull-both {
    #breakpoint > .med({
      margin-left: unit(-1 * @gutter/@base,rem);
      margin-right: unit(-1 * @gutter/@base,rem);
    });
  }

  &--pull-both &__caption {
    #breakpoint > .med({
      margin-left: unit(@gutter/@base,rem);
      margin-right: unit(@gutter/@base,rem);
    });
  }

  //pull right
  &--pull-right {
    margin-left: 0;
    margin-right: 0;
    #breakpoint > .med({
      margin: 0 unit(-1 * @gutter/@base,rem) unit(@gutter/@base,rem) unit(@gutter/@base,rem);
      float: right;
      max-width: 50%;
    });
  }

}
