.c_siteWrapper {
  padding: 30px;
}
@media (min-width: 640px) {
  .c_siteWrapper {
    margin: 30px auto;
    max-width: 600px;
  }
}
.m_betaMessage {
  background: rgba(255, 255, 0, 0.5);
  padding: 20px;
  border: 1px dotted #666600;
  color: #666600;
}
a {
  color: blue;
}
img {
  max-width: 100%;
}
