.c_siteWrapper {
  padding: 30px;
}
@media (min-width: 640px) {
  .c_siteWrapper {
    margin: 30px auto;
    max-width: 600px;
  }
}
.m_betaMessage {
  background: rgba(255, 255, 0, 0.5);
  padding: 20px;
  border: 1px dotted #666600;
  color: #666600;
}
a {
  color: blue;
}
img {
  max-width: 100%;
}
.m_pagignation {
  margin-top: 20px;
  border-top: 1px solid #ccc;
}
.m_navigation {
  border-bottom: 1px solid #ccc;
}
.m_navigation__items {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}
.m_navigation__item {
  list-style: none;
}
.m_navigation__link {
  font-size: 110%;
  padding: 20px 0;
  display: block;
}
.m_figure {
  margin: 20px 0;
}
.m_figure__caption {
  margin: 10px 0;
  display: block;
  color: #666;
  font-style: italic;
  font-size: 90%;
}
.m_figure__captionPreface,
.m_figure__captionPunctuation {
  color: #ccc;
}
.m_prose h1 {
  font-size: 3.5em;
  line-height: 1.07142857;
}
.m_prose h2 {
  font-size: 2.125em;
  line-height: 1.14705882;
}
.m_prose h3 {
  font-size: 1.5em;
  line-height: 1.375;
}
.m_prose p {
  font-size: 1.3125em;
  line-height: 1.38095238;
  margin: 1.52380952;
  padding: 0;
}
.m_prose .meta {
  color: #333;
  display: block;
}
.m_prose .introduction {
  font-size: 1.5625em;
  line-height: 1.64;
}
.m_prose > ul,
.m_prose > ol {
  font-size: 1.3125em;
  line-height: 1.38095238;
  margin: 1.52380952;
  padding: 0;
  list-style-position: inside;
}
.m_prose ul ul,
.m_prose ul ol,
.m_prose ol ol,
.m_prose ol ul {
  margin: 0 0 0 2em;
  padding: 0;
}
.m_prose ul {
  list-style: disc;
}
.m_prose ul ul {
  list-style: circle;
}
.m_prose ul ul ul {
  list-style: square;
}
.m_prose ol {
  list-style: decimal;
}
.m_prose ol ol {
  list-style: lower-roman;
}
.m_prose ol ol ol {
  list-style: lower-latin;
}
.m_prose a {
  color: blue;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  transition: border 250ms ease-out;
}
.m_prose a:hover {
  border-color: #ccc;
}
.m_prose time {
  color: #333;
  display: block;
}
.m_prose p > code,
.m_prose li > code {
  font-family: 'Menlo', monospace;
  color: #4d4d4d;
  margin: 0 .1em;
  border: 1px solid #b3b3b3;
  background-color: #ccc;
  padding: 0.25rem;
  border-radius: 0.25rem;
  font-size: 80%;
}
.m_prose pre {
  font-family: 'Menlo', monospace;
  color: #4d4d4d;
  margin: 0 .1em;
  border: 1px solid #b3b3b3;
  background-color: #ccc;
  padding: 0.25rem;
  border-radius: 0.25rem;
  padding: 2rem 1.875rem;
}
.m_prose abbr {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  cursor: help;
}
.m_prose abbr:hover {
  background-color: #ccc;
}
.m_prose hr {
  border: none;
  margin: 0;
  display: block;
}
.m_prose hr:before {
  font-size: 2.5rem;
  color: #ccc;
  content: "\0000B7\0000a0\0000B7\0000a0\0000B7";
  text-align: center;
  display: block;
}
.m_prose hr + h2 {
  margin-top: 0;
}
.m_prose blockquote {
  padding-left: 2em;
  border-left: 3px solid #ccc;
  margin: 0;
}
.m_prose blockquote p,
.m_prose blockquote ul,
.m_prose blockquote ol,
.m_prose blockquote dl,
.m_prose blockquote table {
  color: #666666;
}
.m_prose table {
  border-collapse: collapse;
  font-size: 80%;
  width: 100%;
  font-size: 1.3125em;
  line-height: 1.38095238;
  margin: 1.52380952;
  padding: 0;
}
.m_prose td,
.m_prose th {
  text-align: left;
  border-bottom: 1px solid #ccc;
  padding: .5em .7em;
  vertical-align: top;
}
.m_prose th {
  font-weight: bold;
  border-bottom: 2px solid #b3b3b3;
}
