@font-face {
  font-family: 'Halis';
  src: url('/assets/fonts/halis-book.woff2') format('woff2'), url('/assets/fonts/halis-book.woff') format('woff');
  font-variant-ligatures: common-ligatures;
}
@font-face {
  font-family: 'Halis';
  src: url('/assets/fonts/halis-book-italic.woff2') format('woff2'), url('/assets/fonts/halis-book-italic.woff') format('woff');
  font-variant-ligatures: common-ligatures;
  font-style: italic;
}
@font-face {
  font-family: 'Halis';
  src: url('/assets/fonts/halis-black.woff2') format('woff2'), url('/assets/fonts/halis-black.woff') format('woff');
  font-variant-ligatures: common-ligatures;
  font-weight: bold;
}
@font-face {
  font-family: 'Halis';
  src: url('/assets/fonts/halis-black-italic.woff2') format('woff2'), url('/assets/fonts/halis-black-italic.woff') format('woff');
  font-variant-ligatures: common-ligatures;
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/raleway-extralight.woff2') format('woff2'), url('/assets/fonts/raleway-extralight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-feature-settings: "lnum" 1, "dlig" 1;
}
@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/raleway-extralightitalic.woff2') format('woff2'), url('/assets/fonts/raleway-extralightitalic.woff') format('woff');
  font-feature-settings: "lnum" 1, "dlig" 1;
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/raleway-black.woff2') format('woff2'), url('/assets/fonts/raleway-black.woff') format('woff');
  font-feature-settings: "lnum" 1, "dlig" 1;
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/raleway-blackitalic.woff2') format('woff2'), url('/assets/fonts/raleway-blackitalic.woff') format('woff');
  font-feature-settings: "lnum" 1, "dlig" 1;
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/raleway-regular.woff2') format('woff2'), url('/assets/fonts/raleway-regular.woff') format('woff');
  font-feature-settings: "lnum" 1, "dlig" 1;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/raleway-italic.woff2') format('woff2'), url('/assets/fonts/raleway-italic.woff') format('woff');
  font-feature-settings: "lnum" 1, "dlig" 1;
  font-weight: normal;
  font-style: italic;
}
a {
  color: blue;
}
img {
  max-width: 100%;
}
body {
  font-family: 'Halis', sans-serif;
  margin: 0;
}
.patternExample {
  outline: 1px dashed #FF6175;
}
.page-type-home {
  background-color: #7A75FF;
}
.m_pagignation {
  margin-top: 20px;
  border-top: 1px solid #ccc;
}
.m_navigation__items {
  padding: 0;
}
.m_navigation__item {
  display: block;
  padding: 0;
  list-style: none;
}
.m_navigation__link {
  color: #7A75FF;
}
.m_navigation--inline .m_navigation__items,
.m_navigation--inline-bleached .m_navigation__items {
  display: -ms-flexbox;
  display: flex;
}
.m_navigation--inline .m_navigation__item,
.m_navigation--inline-bleached .m_navigation__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 1rem;
}
.m_navigation--inline .m_navigation__item:last-child,
.m_navigation--inline-bleached .m_navigation__item:last-child {
  margin-right: 0;
}
.m_navigation--inline .m_navigation__icon,
.m_navigation--inline-bleached .m_navigation__icon {
  margin-right: .5rem;
}
.m_navigation--inline-bleached .m_navigation__link {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.m_navigation--inline-bleached .m_navigation__link:hover {
  border-color: white;
}
.m_navigation--main {
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #bdbaff;
}
.m_navigation--main .m_navigation__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1rem;
}
@media screen and (min-width: 44rem) {
  .m_navigation--main .m_navigation__item {
    margin-bottom: 2rem;
  }
}
.m_navigation--main .m_navigation__link {
  margin-left: 2rem;
  text-decoration: none;
  color: white;
  font-family: 'Raleway', sans-serif;
}
.m_navigation--main .m_navigation__title {
  line-height: 1;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.07);
  font-size: 1.625rem;
  font-weight: 300;
}
@media screen and (min-width: 44rem) {
  .m_navigation--main .m_navigation__title {
    font-size: 2.875rem;
  }
}
.m_navigation--main .m_navigation__prompt {
  display: block;
  color: #bdbaff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.07);
}
.m_figure {
  margin: 20px 0;
}
.m_figure__caption {
  margin: 10px 0;
  display: block;
  color: #666;
  font-style: italic;
  font-size: 90%;
}
.m_figure__captionPreface,
.m_figure__captionPunctuation {
  color: #ccc;
}
.m_prose h1,
.m_prose h2,
.m_prose h3,
.m_prose h4,
.m_prose h5,
.m_prose h6,
.m_prose p,
.m_prose figure,
.m_prose blockquote {
  color: #333;
  margin: 1.4375rem 0;
  padding: 0;
}
@media screen and (min-width: 44rem) {
  .m_prose h1,
  .m_prose h2,
  .m_prose h3,
  .m_prose h4,
  .m_prose h5,
  .m_prose h6,
  .m_prose p,
  .m_prose figure,
  .m_prose blockquote {
    margin: 1.9375rem 0;
  }
}
.m_prose strong,
.m_prose b {
  font-weight: bold;
}
.m_prose em,
.m_prose i {
  font-style: italic;
}
.m_prose strong > em,
.m_prose em > strong,
.m_prose strong > i,
.m_prose i > strong,
.m_prose b > em,
.m_prose em > b,
.m_prose b > i,
.m_prose i > b {
  font-style: italic;
  font-weight: bold;
}
.m_prose h1,
.m_prose h2,
.m_prose h3,
.m_prose h4,
.m_prose h5,
.m_prose h6 {
  font-weight: bold;
  font-style: normal;
  font-family: 'Raleway', sans-serif;
}
.m_prose h1 {
  font-size: 2.5em;
  line-height: 1.15;
}
@media screen and (min-width: 44rem) {
  .m_prose h1 {
    font-size: 3.8125em;
    line-height: 1.01639344;
  }
}
.m_prose h2 {
  font-size: 1.625em;
  line-height: 1.32692308;
  display: block;
}
@media screen and (min-width: 44rem) {
  .m_prose h2 {
    font-size: 2.5625em;
    line-height: 1.13414634;
  }
}
.m_prose h3 {
  font-size: 1.4375em;
  line-height: 1.5;
  color: #666666;
  display: block;
}
@media screen and (min-width: 44rem) {
  .m_prose h3 {
    font-size: 1.8125em;
    line-height: 1.06896552;
  }
}
.m_prose p {
  font-size: 1em;
  line-height: 1.9375;
  line-height: calc(1.4375em + (1.9375 - 1.4375) * ((100vw - 18.75em)/(44 - 18.75)));
}
@media screen and (min-width: 44rem) {
  .m_prose p {
    font-size: 1.1875em;
  }
}
@media screen and (min-width: 44rem) {
  .m_prose p {
    line-height: 1.63157895;
  }
}
.m_prose a {
  color: #7A75FF;
}
.m_prose > ul,
.m_prose > ol {
  margin: 1.4375rem 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.9375;
  line-height: calc(1.4375em + (1.9375 - 1.4375) * ((100vw - 18.75em)/(44 - 18.75)));
  list-style-position: inside;
  margin-left: 1em;
}
@media screen and (min-width: 44rem) {
  .m_prose > ul,
  .m_prose > ol {
    margin: 1.9375rem 0;
  }
}
@media screen and (min-width: 44rem) {
  .m_prose > ul,
  .m_prose > ol {
    font-size: 1.1875em;
  }
}
@media screen and (min-width: 44rem) {
  .m_prose > ul,
  .m_prose > ol {
    line-height: 1.63157895;
  }
}
@media screen and (min-width: 44rem) {
  .m_prose > ul,
  .m_prose > ol {
    list-style-position: outside;
  }
}
.m_prose ul ul,
.m_prose ul ol,
.m_prose ol ol,
.m_prose ol ul {
  padding: 0;
  margin-left: 1em;
}
.m_prose ul {
  list-style: disc;
}
.m_prose ul ul {
  list-style: circle;
}
.m_prose ul ul ul {
  list-style: square;
}
.m_prose ol {
  list-style: decimal;
}
.m_prose ol ol {
  list-style: lower-roman;
}
.m_prose ol ol ol {
  list-style: lower-latin;
}
.m_prose blockquote {
  font-style: italic;
  background-color: #FF6175;
  position: relative;
  border-radius: 9px;
  padding: 1.4375rem;
}
@media screen and (min-width: 44rem) {
  .m_prose blockquote {
    padding: 1.9375rem;
  }
}
.m_prose blockquote > * {
  margin: 0;
}
.m_prose blockquote p,
.m_prose blockquote a {
  color: white;
}
.m_prose blockquote:before {
  content: "";
  display: block;
  transform: rotate(45deg);
  background-color: #FF6175;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: -1;
  top: 50%;
  margin-top: -10px;
  left: -10px;
  border-radius: 0 0 0 9px;
}
.m_prose code {
  color: #333;
}
.m_prose pre {
  margin: 1.4375rem 0;
  padding: 0;
  background-color: #F5F5F5;
  padding: 1.4375rem;
  overflow-y: auto;
  position: relative;
}
@media screen and (min-width: 44rem) {
  .m_prose pre {
    margin: 1.9375rem 0;
  }
}
@media screen and (min-width: 44rem) {
  .m_prose pre {
    padding: 1.9375rem;
  }
}
.m_prose pre:before {
  content: '';
  display: block;
  width: 6px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #FF6175;
}
.m_prose pre > code {
  line-height: 1.9375;
  line-height: calc(1.4375em + (1.9375 - 1.4375) * ((100vw - 18.75em)/(44 - 18.75)));
  font-size: 1em;
}
@media screen and (min-width: 44rem) {
  .m_prose pre > code {
    line-height: 1.63157895;
  }
}
@media screen and (min-width: 44rem) {
  .m_prose pre > code {
    font-size: 1.1875em;
  }
}
.m_prose p > code,
.m_prose li > code,
.m_prose h2 > code,
.m_prose h3 > code {
  background-color: #F5F5F5;
  border-radius: 10px;
  padding: 0.25rem 0.625rem;
}
@media screen and (min-width: 44rem) {
  .m_prose p > code,
  .m_prose li > code,
  .m_prose h2 > code,
  .m_prose h3 > code {
    border-radius: 20px;
    padding: 0.375rem 0.75rem;
  }
}
.m_prose table {
  border-collapse: collapse;
  width: 100%;
  background-color: #F5F5F5;
  color: #333;
  margin: 1.4375rem 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.9375;
  line-height: calc(1.4375em + (1.9375 - 1.4375) * ((100vw - 18.75em)/(44 - 18.75)));
  border-left: 6px solid #FF6175;
}
@media screen and (min-width: 44rem) {
  .m_prose table {
    margin: 1.9375rem 0;
  }
}
@media screen and (min-width: 44rem) {
  .m_prose table {
    font-size: 1.1875em;
  }
}
@media screen and (min-width: 44rem) {
  .m_prose table {
    line-height: 1.63157895;
  }
}
.m_prose td,
.m_prose th {
  text-align: left;
  border-bottom: 1px solid #dcdcdc;
  padding: .5em 1em;
  vertical-align: top;
}
.m_prose tr:last-child td {
  border: none;
}
.m_prose th {
  font-weight: bold;
  border-bottom: 2px solid #dcdcdc;
}
.m_pageTitle {
  margin: 1.4375rem 0;
  padding: 0;
  font-weight: bold;
  font-style: normal;
  font-family: 'Raleway', sans-serif;
  font-size: 2.5em;
  line-height: 1.15;
}
@media screen and (min-width: 44rem) {
  .m_pageTitle {
    margin: 1.9375rem 0;
  }
}
@media screen and (min-width: 44rem) {
  .m_pageTitle {
    font-size: 3.8125em;
    line-height: 1.01639344;
  }
}
.m_icon {
  width: 5.25rem;
  height: 5.25rem;
}
.m_icon--small {
  width: 2.125rem;
  height: 2.125rem;
}
.m_icon--x-small {
  width: 1rem;
  height: 1rem;
}
.m_siteHeader {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2.25rem 0;
}
.m_siteHeader__titleLink,
.m_siteHeader__menuLink {
  text-decoration: none;
  color: white;
}
.m_siteHeader__intro {
  display: block;
  font-size: 0.875rem;
  line-height: 1;
}
.m_siteHeader__name {
  font-size: 1.75rem;
  text-shadow: 1px 1px 0 #180fff;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}
.m_introduction {
  background: #7A75FF;
  font-family: 'Raleway', sans-serif;
}
@media screen and (min-width: 44rem) {
  .m_introduction {
    font-weight: 300;
  }
}
.m_introduction p {
  color: white;
  margin: 1.4375rem 0;
  padding: 0;
  font-size: 1.0625em;
  line-height: 1.23529412;
}
@media screen and (min-width: 44rem) {
  .m_introduction p {
    margin: 1.9375rem 0;
  }
}
@media screen and (min-width: 18.75rem) {
  .m_introduction p {
    font-size: calc(1.0625em + (1.6875 - 1.0625) * ((100vw - 18.75em)/(44 - 18.75)));
    line-height: calc(1.3125em + (2.3125 - 1.3125) * ((100vw - 18.75em)/(44 - 18.75)));
  }
}
@media screen and (min-width: 44rem) {
  .m_introduction p {
    font-size: 1.6875em;
    line-height: 1.37037037;
  }
}
.m_introduction > p:first-child {
  font-weight: bold;
  font-size: 2.125rem;
  line-height: 1.32352941;
}
@media screen and (min-width: 18.75rem) {
  .m_introduction > p:first-child {
    font-size: calc(2.125em + (3.6875 - 2.125) * ((100vw - 18.75em)/(44 - 18.75)));
  }
}
@media screen and (min-width: 44rem) {
  .m_introduction > p:first-child {
    font-size: 3.6875rem;
    line-height: 1.22033898;
  }
}
.m_introduction > p:first-child a {
  border-width: 3px;
}
.m_introduction a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid #aba8ff;
}
.m_introduction a:hover {
  border-color: white;
}
.m_introduction a:focus {
  background-color: #4942ff;
}
.m_teaser {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  margin-bottom: 1.9375rem;
  overflow: hidden;
  color: white;
  text-decoration: none;
}
@media screen and (min-width: 44rem) {
  .m_teaser {
    -ms-flex-flow: row;
    flex-flow: row;
    background-size: cover;
  }
}
.m_teaser:after {
  content: "";
  background-color: #FF6175;
  opacity: 0.6;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
}
.m_teaser--style-a,
.m_teaser--style-a:after,
.m_teaser--style-a .m_teaser__meta,
.m_teaser--style-a .m_teaser__month {
  background-color: #FF6175;
}
.m_teaser--style-b,
.m_teaser--style-b:after,
.m_teaser--style-b .m_teaser__meta,
.m_teaser--style-b .m_teaser__month {
  background-color: #00B7D9;
}
.m_teaser--style-c,
.m_teaser--style-c:after,
.m_teaser--style-c .m_teaser__meta,
.m_teaser--style-c .m_teaser__month {
  background-color: #FFA000;
}
.m_teaser--style-d,
.m_teaser--style-d:after,
.m_teaser--style-d .m_teaser__meta,
.m_teaser--style-d .m_teaser__month {
  background-color: #2EB19F;
}
.m_teaser--style-a .m_teaser__day {
  color: #FF6175;
}
.m_teaser--style-b .m_teaser__day {
  color: #00B7D9;
}
.m_teaser--style-c .m_teaser__day {
  color: #FFA000;
}
.m_teaser--style-d .m_teaser__day {
  color: #2EB19F;
}
.m_teaser__date,
.m_teaser__meta {
  z-index: 2;
}
.m_teaser__meta {
  padding: 0 1.9375rem;
}
.m_teaser__meta > p {
  margin: 1.4375rem 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.9375;
  line-height: calc(1.4375em + (1.9375 - 1.4375) * ((100vw - 18.75em)/(44 - 18.75)));
}
@media screen and (min-width: 44rem) {
  .m_teaser__meta > p {
    margin: 1.9375rem 0;
  }
}
@media screen and (min-width: 44rem) {
  .m_teaser__meta > p {
    font-size: 1.1875em;
  }
}
@media screen and (min-width: 44rem) {
  .m_teaser__meta > p {
    line-height: 1.63157895;
  }
}
.m_teaser__meta > p:last-of-type {
  margin-bottom: 0;
}
.m_teaser__title {
  margin: 1.4375rem 0;
  padding: 0;
  font-weight: bold;
  font-style: normal;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4375em;
  line-height: 1.5;
  color: #666666;
  display: block;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  color: white;
}
@media screen and (min-width: 44rem) {
  .m_teaser__title {
    margin: 1.9375rem 0;
  }
}
@media screen and (min-width: 44rem) {
  .m_teaser__title {
    font-size: 1.8125em;
    line-height: 1.06896552;
  }
}
.m_teaser__date {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
  border: 2px solid black;
  background-color: white;
  position: relative;
  min-width: 3.125rem;
  margin: 1.9375rem 1.9375rem 0 1.9375rem;
}
@media screen and (min-width: 44rem) {
  .m_teaser__date {
    min-width: 5rem;
  }
}
.m_teaser--has-cover .m_teaser__date {
  margin-bottom: 1.9375rem;
}
.m_teaser__month {
  border-bottom: 2px solid black;
}
.m_teaser__day,
.m_teaser__month,
.m_teaser__year {
  font-size: 0.875rem;
  padding: 0.25rem 0.875rem;
  text-align: center;
}
.m_teaser__year {
  color: #ddd;
}
.m_teaser__day {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  padding-bottom: 0;
  text-shadow: 1px 1px 0 white, 2px 2px 0 #ddd;
}
@media screen and (min-width: 44rem) {
  .m_teaser__day {
    font-size: 1.375rem;
  }
}
.m_teaser__prompt {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-left: -10.5rem;
}
@media screen and (min-width: 44rem) {
  .m_teaser__prompt {
    margin-left: 0;
  }
}
.m_teaser__promptIcons {
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 44rem) {
  .m_teaser__promptIcons {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
.m_teaser__arm {
  transform-origin: right;
}
.m_teaser__promptText {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 1em;
  line-height: 1.9375;
  line-height: calc(1.4375em + (1.9375 - 1.4375) * ((100vw - 18.75em)/(44 - 18.75)));
  margin: 1.4375rem 0;
  padding: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
@media screen and (min-width: 44rem) {
  .m_teaser__promptText {
    font-size: 1.1875em;
  }
}
@media screen and (min-width: 44rem) {
  .m_teaser__promptText {
    line-height: 1.63157895;
  }
}
@media screen and (min-width: 44rem) {
  .m_teaser__promptText {
    margin: 1.9375rem 0;
  }
}
.m_teaser:hover .m_teaser__promptText {
  background-color: rgba(255, 255, 255, 0.2);
}
.c_page__content {
  padding: 0 2rem;
}
@media screen and (min-width: 44rem) {
  .c_page__content {
    padding: 0;
    margin: 0 auto;
    max-width: 42rem;
  }
}
.c_page--wide .c_page__content {
  padding: 0 2rem;
}
@media screen and (min-width: 75rem) {
  .c_page--wide .c_page__content {
    padding: 0;
    margin: 0 auto;
    max-width: 73rem;
  }
}
.c_header {
  background-color: #4942ff;
}
.c_header__content {
  padding: 0 2rem;
}
@media screen and (min-width: 44rem) {
  .c_header__content {
    padding: 0;
    margin: 0 auto;
    max-width: 42rem;
  }
}
.c_fullscreen {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #7A75FF;
  overflow-y: auto;
  z-index: 100;
  display: none;
  opacity: 1;
  transition: visibility 300ms cubic-bezier(1, 0.005, 0.845, 0.96), opacity 300ms cubic-bezier(1, 0.005, 0.845, 0.96);
}
.c_fullscreen__content {
  padding: 0 2rem;
}
@media screen and (min-width: 44rem) {
  .c_fullscreen__content {
    padding: 0;
    margin: 0 auto;
    max-width: 42rem;
  }
}
.c_fullscreen:target {
  display: block;
}
.c_fullscreen--is-active {
  display: block;
}
.c_fullscreen--is-closed {
  visibility: hidden;
  opacity: 0;
}
.c_fullscreen--is-open {
  visibility: visible;
  opacity: 1;
}
