#layout {
  .med() { //designed to fit in the max() layout
    #breakpoint > .med({
      padding:0;
      margin: 0 auto;
      max-width: unit(@bp_med/@base,rem);
    });
  }

  .max() {
    padding-left: unit(@gutter/@base,rem);
    padding-right: unit(@gutter/@base,rem);
    #breakpoint > .max({
      padding-left: 0;
      padding-right: 0;
      margin: 0 auto;
      max-width: unit((@bp_max - @gutter)/@base,rem);
    });
  }

}
